In [2]:
#Find results of mathematical operations between integers and floats
integer = int(1)
floating_point = float(1)

print(f'Sum of {integer} and {floating_point} equals {(integer+floating_point)}')
print(f'Difference of {integer} and {floating_point} equals {(integer-floating_point)}')
print(f'Product of {integer} and {floating_point} equals {(integer*floating_point)}')
print(f'Quotient of {integer} and {floating_point} equals {(integer/floating_point)}')

Sum of 1 and 1.0 equals 2.0
Difference of 1 and 1.0 equals 0.0
Product of 1 and 1.0 equals 1.0
Quotient of 1 and 1.0 equals 1.0

In [3]:
#Check equality of values and data types
def equality_check(value_1, value_2):  
    print(f'Is {value_1} equal to {value_2}? Answer: ', value_1==value_2)
    print(f'Is {value_1}\'s data type equal to {value_2}\'s data type? Answer: ', 
          type(value_1)==type(value_2))

equality_check(integer, floating_point)

Is 1 equal to 1.0? Answer:  True
Is 1's data type equal to 1.0's data type? Answer:  False

In [ ]:
#Use Boolean values to evaluate statements

I_have_chickens = True

if I_have_chickens == True:
    print('You do have chickens.')
else:
    print('You do NOT have chickens.')

In [4]:
#Compare an integer to a string
an_integer = 1
a_string = '1'

equality_check(an_integer, a_string)

Is 1 equal to 1? Answer:  False
Is 1's data type equal to 1's data type? Answer:  False

In [5]:
import pandas as pd

int_list = [an_integer]*4
str_list = [a_string]*4
mix_list = [an_integer, a_string, an_integer, a_string]

df_int_mix = pd.DataFrame([int_list, str_list, mix_list], index=['All_Ints', 'All_Strings', 'Ints_and_Strings'])
df_int_mix = df_int_mix.transpose()
df_int_mix

  All_Ints All_Strings Ints_and_Strings
0        1           1                1
1        1           1                1
2        1           1                1
3        1           1                1

In [7]:
def data_w_types(dataframe):
    col_types = []
    for col in dataframe.columns.tolist():
        idx_types = []
        for idx in dataframe.index.tolist():
            idx_type = type(dataframe.loc[idx, col]).__name__
            idx_types.append(str(dataframe.loc[idx, col])+' '+str(idx_type))
        col_types.append(idx_types)
    df_types = pd.DataFrame(col_types)
    df_types = df_types.transpose()
    df_types.columns = dataframe.columns
    return df_types

data_w_types(df_int_mix)

  All_Ints All_Strings Ints_and_Strings
0    1 int       1 str            1 int
1    1 int       1 str            1 str
2    1 int       1 str            1 int
3    1 int       1 str            1 str

In [8]:
def set_new_col_type(dataframe, new_type):
    df_copy = dataframe.copy()
    for col in dataframe.columns.tolist():
        df_copy[col] = dataframe.loc[:,col].astype(new_type)
    return df_copy
dim_2 = set_new_col_type(df_int_mix, int)
dim_2

   All_Ints  All_Strings  Ints_and_Strings
0         1            1                 1
1         1            1                 1
2         1            1                 1
3         1            1                 1

In [9]:
data_w_types(dim_2)

  All_Ints All_Strings Ints_and_Strings
0  1 int32     1 int32          1 int32
1  1 int32     1 int32          1 int32
2  1 int32     1 int32          1 int32
3  1 int32     1 int32          1 int32

In [ ]:
#Nones, NaNs, and NaTs
import numpy as np
import pandas as pd

none_var = None #Python object, not as memory-efficient as NaN
nan_var = np.nan #Universal NULL or N/A value, stored as float data type
nat_var = pd.NaT #DateTime-specific pandas value, stored as float data type

print('None Value:', none_var)
print('Not-a-Number (i.e. NaN, N/A, or NULL) Value:', nan_var)
print('Not-a-Time (i.e. NaT):', nat_var)

In [ ]:
#Example of how NaN values cannot be counted or summed
just_ints = [1,2,3,4]
with_nans = [1,None,3,4]

#DataFrame with both sets of values together
df_ints = pd.DataFrame([just_ints, with_nans], columns=['col_1','col_2','col_3','col_4'])
df_ints

In [ ]:
#DataFrames to count, sum, and average data in df_ints
int_count = pd.DataFrame(df_ints.count(), columns=['Count'])
int_sum = pd.DataFrame(df_ints.sum(), columns=['Sum'])
int_aggregations = pd.concat([int_count, int_sum], axis=1)
int_aggregations

In [ ]:
#DataFrame with missing time value
just_dates = [pd.Timestamp('20000101'),pd.Timestamp('20100101')]
with_nats = [pd.Timestamp('20200101'),pd.NaT]
df_dates = pd.DataFrame([just_dates, with_nats], columns=['col_1','col_2'])
df_dates

In [ ]:
dt_headers = ['Operation', 'Operator', 'Python', 'SQL', 'Excel']
addition = ['+']

In [ ]:
2 is 2

In [ ]:
34%2

In [ ]:
35%2

In [ ]:
35.1%2