In [1]:
#Find results of mathematical operations between integers and floats
integer = int(1)
floating_point = float(1)

print(f'Sum of {integer} and {floating_point} equals {(integer+floating_point)}')
print(f'Difference of {integer} and {floating_point} equals {(integer-floating_point)}')
print(f'Product of {integer} and {floating_point} equals {(integer*floating_point)}')
print(f'Quotient of {integer} and {floating_point} equals {(integer/floating_point)}')

Sum of 1 and 1.0 equals 2.0
Difference of 1 and 1.0 equals 0.0
Product of 1 and 1.0 equals 1.0
Quotient of 1 and 1.0 equals 1.0

In [2]:
#Check equality of values and data types
def equality_check(value_1, value_2):  
    print(f'Is {value_1} equal to {value_2}? Answer: ', value_1==value_2)
    print(f'Is {value_1}\'s data type equal to {value_2}\'s data type? Answer: ', 
          type(value_1)==type(value_2))

equality_check(integer, floating_point)

Is 1 equal to 1.0? Answer:  True
Is 1's data type equal to 1.0's data type? Answer:  False

In [3]:
#Use Boolean values to evaluate statements

I_have_chickens = True

if I_have_chickens == True:
    print('You do have chickens.')
else:
    print('You do NOT have chickens.')

You do have chickens.

In [4]:
#Compare an integer to a string
an_integer = 1
a_string = '1'

equality_check(an_integer, a_string)

Is 1 equal to 1? Answer:  False
Is 1's data type equal to 1's data type? Answer:  False

In [5]:
#Nones, NaNs, and NaTs
import numpy as np
import pandas as pd

none_var = None #Python object, not as memory-efficient as NaN
nan_var = np.nan #Universal NULL or N/A value, stored as float data type
nat_var = pd.NaT #DateTime-specific pandas value, stored as float data type

print('None Value:', none_var)
print('Not-a-Number (i.e. NaN, N/A, or NULL) Value:', nan_var)
print('Not-a-Time (i.e. NaT):', nat_var)

None Value: None
Not-a-Number (i.e. NaN, N/A, or NULL) Value: nan
Not-a-Time (i.e. NaT): NaT

In [9]:
#Example of how NaN values cannot be counted or summed
just_ints = [1,2,3,4]
with_nans = [1,None,3,4]

#DataFrame with both sets of values together
df_ints = pd.DataFrame([just_ints, with_nans], columns=['col_1','col_2','col_3','col_4'])
df_ints

   col_1  col_2  col_3  col_4
0      1    2.0      3      4
1      1    NaN      3      4

In [10]:
#DataFrames to count, sum, and average data in df_ints
int_count = pd.DataFrame(df_ints.count(), columns=['Count'])
int_sum = pd.DataFrame(df_ints.sum(), columns=['Sum'])
int_aggregations = pd.concat([int_count, int_sum], axis=1)
int_aggregations

       Count  Sum
col_1      2  2.0
col_2      1  2.0
col_3      2  6.0
col_4      2  8.0

In [8]:
#DataFrame with missing time value
just_dates = [pd.Timestamp('20000101'),pd.Timestamp('20100101')]
with_nats = [pd.Timestamp('20200101'),pd.NaT]
df_dates = pd.DataFrame([just_dates, with_nats], columns=['col_1','col_2'])
df_dates

       col_1      col_2
0 2000-01-01 2010-01-01
1 2020-01-01        NaT